/* COLOR PRIMARY  */
a, 
.button.is-primary.is-outlined,
.tabs li.is-active a
{
  color: hsl(25.2,85.5%,56.9%) ;
  border-color: hsl(25.2,85.5%,56.9%);
}
.button.is-primary
{
  background-color: hsl(25.2,85.5%,56.9%);
  border-color: hsl(25.2,85.5%,56.9%); 
}
.button.is-primary.is-focused:not(:active), .button.is-primary:focus:not(:active) {
    -webkit-box-shadow: 0 0 0 0.125em rgba(239,130,51,.25);
    box-shadow: 0 0 0 0.125em rgba(239,130,51,.25);
}
.button.is-primary.is-active, .button.is-primary:active {
    background-color: #ed741b;
}
.button.is-primary:hover,
.button.is-primary.is-outlined:focus, 
.button.is-primary.is-outlined:hover
{
  background-color: hsl(25.3,85.1%,60.6%);
  border-color: hsl(25.3,85.1%,60.6%);
}
.input.is-active, 
.input.is-focused, 
.input:active, 
.input:focus, 
.textarea.is-active, 
.textarea.is-focused, 
.textarea:active, 
.textarea:focus {
    border-color: hsl(25.3,85.1%,60.6%);
    -webkit-box-shadow: 0 0 0 0.125em rgba(239,130,51,.25);
    box-shadow: 0 0 0 0.125em rgba(239,130,51,.25);
}

.button.is-info {
  background-color: #33a0ef;
}
.button.is-info:hover {
    background-color: #45a8f0;
}

/* NAVBAR  */
.navbar.is-transparent {
  background-color: transparent; 
}

/* LOGO  */
.navbar-item.logo,
.navbar-item.logo img {
  position: fixed;
  min-height: 48px;
  min-width: 48px;
  top: 20px;
  border-radius: 24px;
  z-index: 999
}
/* BUTTON */
.is-round {
  height:48px!important;
  width:48px!important;
  border-radius:24px;
  opacity:.9;
}
.is-shadow {
  -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
  box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
}
.is-opacityless {
  opacity:1;
}
.is-grey-dark {
  background-color: hsl(0, 0%, 29%) !important;
  border-color: transparent;
}
.is-grey-dark:hover {
  background-color: hsl(0, 0%, 32%) !important;
  border-color: transparent;
}
.return {
  position: fixed;
  left:16px;
  bottom:14px;
}
.return.admin {
  bottom:90px;
}

.admin-access {
  position: fixed;
  padding:0 !important;
  left:16px;
  top:80px;
  z-index: 999;
}

