/* COLOR PRIMARY  */
a, 
.button.is-primary.is-outlined,
.tabs li.is-active a
{
  color: #ef8233 ;
  border-color: #ef8233;
}
.button.is-primary
{
  background-color: #ef8233;
  border-color: #ef8233; 
}
.button.is-primary:hover,
.button.is-primary.is-outlined:focus, 
.button.is-primary.is-outlined:hover
{
  background-color: #fa8735;
  border-color: #fa8735;
}
.navbar.is-transparent {
  background-color: transparent; 
}
.navbar-item.logo,
.navbar-item.logo img {
  position: fixed;
  min-height: 48px;
  min-width: 48px;
  top: 20px;
  border-radius: 24px;
  z-index: 999
}
/* BUTTON */
.is-round {
  height:48px!important;
  width:48px!important;
  border-radius:24px;
  opacity:.9;
}
.is-shadow {
  -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
  box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
}
.is-opacityless {
  opacity:1;
}
.is-grey-dark {
  background-color: hsl(0, 0%, 29%) !important;
  border-color: transparent;
}
.is-grey-dark:hover {
  background-color: hsl(0, 0%, 32%) !important;
  border-color: transparent;
}
.return {
  position: fixed;
  left:16px;
  bottom:14px;
}
.return.admin {
  bottom:90px;
}

.admin-access {
  position: fixed;
  padding:0 !important;
  left:16px;
  top:80px;
}

